.html5-progress-bar {
  position: relative;
  padding-top: 6em;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
    background: #ffffff;
    border-radius: 5px;
    padding: 2px;
     box-shadow: 0 4px 4px 0 rgba(111, 111, 111, 0.20) inset, 0 -4px 4px 0 rgba(111, 111, 111, 0.20) inset;
}

progress::-moz-progress-bar {
    background: #17ba72;
    background: -moz-linear-gradient(top, #17ba72 0%, #22c441 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #17ba72), color-stop(100%, #22c441));
    background: -webkit-linear-gradient(top, #17ba72 0%, #22c441 100%);
    background: -o-linear-gradient(top, #17ba72 0%, #22c441 100%);
    background: -ms-linear-gradient(top, #17ba72 0%, #22c441 100%);
    background: linear-gradient(to bottom, #17ba72 0%, #22c441 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdeb8e', endColorstr='#a5c956', GradientType=0);
}

    progress {
      width: 28vw;
      height: 20px;
      margin: 5px 1vw 20px;
      display: block;
      /* Important Thing */
      -webkit-appearance: none;
      border: none;
    }


    /* Now the value part */
    progress::-webkit-progress-value {
      border-radius: 5px;
      box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
      background:
      -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
      -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
      -webkit-linear-gradient(left, #17ba72, #22c441);

      /* Looks great, now animating it */
      background-size: 25px 14px, 100% 100%, 100% 100%;
      -webkit-animation: move 5s linear 0 infinite;
    }

    /* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */

    @-webkit-keyframes move {
      0% {background-position: 0px 0px, 0 0, 0 0}
      100% {background-position: -100px 0px, 0 0, 0 0}
    }

#test-caption {
  text-align: center;
  font-style: italic;
  font-size: 1.3em;
  margin-bottom: 10px
}

#allTasks{
  width: 93%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#tasksNew,#tasksInProcess,#tasksComplete {
  display: flex;
  position: relative;
  width: 30vw;
  font-size: 0.8em;
}

/* всплывающее окно */
#Modal{
display: none;
}

h2 {
  font-size: 45px;
  text-align: center;
  color: #666666;
  margin: 0 0 30px 0;
  font-family: 'Srisakdi', cursive;
  font-weight: 400;
}

.prefix-tabs{
  color: #666666;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

.prefix-Dialog {
  background: rgba(100, 100, 100, 0.5);
  position: fixed;
  display: none;
	z-index: 99999;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  word-break: break-all;
}
.prefix-Dialog > div {
  max-width: 600px;
  width: 70%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: #FFFFFF;
  padding: 30px;
  z-index: 5001;
  text-align: center;
  border: 5px solid #9AD3DE;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}
.prefix-Dialog.active {
  display: block;
  pointer-events: auto;
}

 /* .prefix-close {
  background: #9AD3DE;
  border: 0;
  border-radius: 4px;
  padding: 18px 30px;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;
}
 .prefix-close:focus {
  outline: none;
}
 .prefix-close:hover {
  background: #c0e4eb;
}

.close{
  margin-top: 30px;
} */

.resSub{
  margin-left: 10px;
  font-size: 20px;
}

.cross{
  text-decoration: line-through;
  text-decoration-color: red;
}
